body {
    margin: 0;
    padding: 0;
}

.logo {
    height: 50px;
    background: url('../../images/logo-header.png') no-repeat;
}

.logo p {
    text-indent: -9999px;
}

.contenedor {
    position: relative;
    margin: 5px auto;
    width: 1020px;
}

h1 {
    color: #4FABDC;
    margin: 0;
    padding: 5px 0;
}

.ejemplo > div {
    width: 490px;
    display: inline-table;
    margin-right: 10px;
}

table {
    border-spacing: 0;
    border-bottom: 20px;
}

table th{
    text-align: left;
    background-color: #8FCE39;
}

th.sortAsc, th.sortDesc{
	cursor: pointer;
}
th.sortAsc > span, th.sortDesc > span{
	background-repeat: no-repeat;
	background-position: center;
}
th.sortAsc > span{
	background-image:url('/img/sortAsc.gif');
}
th.sortDesc > span{
	background-image:url('/img/sortDesc.gif');
}

.guardar{
	background-repeat: no-repeat;
	background-position: left;
	cursor: pointer;
}

.seleccion {
    width: 10px;
}

.editar{
	cursor: pointer;
	background-color: #4FABDC;
    width: 380px;
}

.editar .nombre{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	top:0px;
}
.arriba{
    background: url('../img/up.png') no-repeat;
    width: 20px;
    cursor:pointer;
    background-position: 2px 2px;
}
.abajo{
    background: url('../img/down.png') no-repeat;
    width: 20px;
    cursor:pointer;
    background-position: 2px 2px;
}
.borrar{
	background:url('../img/delete.png') no-repeat;
    width: 20px;
	cursor:pointer;
    background-position: 2px 2px;
}

.controles {
    margin: 5px 0 0 1px;
}

.controles span {
    margin-right: 5px;
}